@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital@0;1&display=swap');

body{
    font-family: 'STIX Two Text', serif;
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
}
img, p{
    border-radius: 10px;
    display: flex;
}
body{
    flex-direction: column;
}

a{
    text-decoration: none;
    color: cornflowerblue;
}
 
p{
    font-size: 20px;
}

#parahead{
    font-size: 40px;
}

.anchor{
    display: flex;
    justify-content: space-between;
}

@media( max-width:1500px){

}