@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital@0;1&display=swap');

body{
    font-family: 'STIX Two Text', serif;
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
}
img{
    border-radius: 10px;
    margin: 50px 50px;
}
body{
    flex-direction: column;
}

a{
    text-decoration: none;
    color: cornflowerblue;
}

.anchor{
    display: flex;
    justify-content: space-between;
}

#exoinfo{
    text-decoration: underline;
    color: white;
}

#superimage{
    display: flex;
    justify-content: space-evenly;
}
 
@media( max-width:1500px){

}